.seriesDetails {
  &__topBanner {
    display: flex;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    row-gap: 2em;
    padding-inline: 5em;
    padding-block: 2em;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) 60%, #0d1b2a 100%);
      z-index: 1;
    }

    & > * {
      position: relative;
      z-index: 2;
    }

    &__mainInfoSection {
      display: flex;
      flex-direction: column;
      &__genreTag {
        display: flex;
        gap: 1em;
        margin-bottom: 2em;
      }
    }
    &__posterImage {
      height: 99%;
      width: 100%;
    }
  }
  &__commentSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    &__comment {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      border-bottom: 2px solid #ccc;
      resize: none;
      &:focus {
        outline: none;
      }
    }
    &__submitButton {
      color: #f0f0f0;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s;
    }
  }
  &__commentBox {
    background-color: #f9f9f9;
    border: 1px solid #a3e635;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    &__commentHeader {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    &__profilePicture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
    }
    &__userInfo {
      display: flex;
      flex-direction: column;
      &__username {
        color: #ff6f00;
        font-weight: bold;
        font-size: 1.1rem;
      }
      &__date {
        font-size: 0.9rem;
      }
    }
    &__commentContent {
      font-size: 1rem;
    }
  }
}
