.navbar {
  &__profileDropdown {
    cursor: pointer;
  }
  &__profileImage {
    object-fit: cover;
    border: 2px solid #fff;
  }
  &__navLinks {
    gap: 3rem;
  }
  &__submitButton {
    color: #f0f0f0;
  }
}
