.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__form {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &__link {
    text-decoration: none;
  }
}
